<br>
<br>

<a href="janews10://main?caller=callerName&action=nextBriefing">브리핑 기사 카드 다음 카드로 이동</a>

<br>
<br>

<br>
<br>

<a href="janews10://main?caller=callerName&action=articleDetail&tid=22557187">특정기사 상세 화면으로 이동</a>

<br>
<br>


{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<div class="post">
    <div class="date">
        <p>published: {{ post.published_date }}</p>
    </div>
    <h1>
        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
    </h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %} {% endblock %}